@model Edvi.Models.Model.Cliente

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class=" container-fluid">
        <div class="row">
            <div class="col-sm-12">
                @*BANNER*@
                <br />
                <section style="background-color: goldenrod">
                    <div class="panel-heading">
                        <hgroup>
                            <h1>Registrar Cliente </h1>
                        </hgroup>
                        <hr />
                        <p>
                            * A continuacion llene los campos mostrados
                        </p>
                    </div>
                </section>
                <br />

                @*SLIDE*@
                <div id="mySlider" class="carousel  slide">
                    <ol class="carousel-indicators">
                        <li data-target="#mySlider" data-slide-to="0" class="active"></li>
                        <li data-target="#mySlider" data-slide-to="1"></li>
                        <li data-target="#mySlider" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="First slide" src="~/Images/Ruta1.jpg" />
                        </div>
                        <div class="item">
                            <img alt="Second slide" src="~/Images/Ruta2.jpg" />
                        </div>
                        <div class="item">
                            <img alt="second slide" src="~/Images/Ruta3.jpg" />
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                
                @*FORMULARIO*@
                <form action="@Url.Action("Create", "Cliente")" method="POST" class="form-horizontal">
                    <div class="btn panel-primary col-sm-12 " style="background-color: darkkhaki">
                        <table class="table table-bordered " style="color: black;">
                            <tr>
                                <td><label for="Ruc" class="col-sm-2 glyphicon glyphicon-edit"> RUC</label></td>
                                <td>
                                    @Html.TextBox("Ruc", "", new {@class = "form-control"})
                                </td>

                                <td><label for="RazSocial" class="col-sm-2 glyphicon glyphicon-user"> Razon Social</label></td>
                                <td>
                                    @Html.TextBox("RazSocial", "", new {@class = "form-control"})
                                </td>
                            </tr>

                            <tr>
                                <td><label for="Direccion" class="col-sm-2 glyphicon glyphicon-pencil"> Direccion</label></td>
                                <td>
                                    @Html.TextBox("Direccion", "", new {@class = "form-control"})
                                </td>
                                <td><label for="Telefono" class="col-sm-2 glyphicon glyphicon-phone"> Telefono</label></td>
                                <td>
                                    @Html.TextBox("Telefono", "", new { @class = "form-control" })
                                </td>
                            </tr>
                        </table>

                        <button type="submit" class="btn btn-danger  pull-right">Cancelar</button>
                        <button type="submit" class="btn btn-success pull-right">Guardar</button>

                     </div>
                </form>

            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

        <div id="oficinas" class="panel-body col-sm-12" style="background-color:darkgray">
            <div>
                <h6>Oficina Principal</h6>
                <p>
                    Av. El Derby No. 055 - Torre 1, Oficina 301, Urb. Lima Polo and Hunt Club - Santiago de Surco, Lima 33 - Perú<br>
                    <b>Central:</b> +51 1 706-0400 - <b>Fax:</b> +51 1 706 0420
                </p>
            </div>
        
        </div>
        <div class="btn panel-default col-sm-12">
            <div align="right">Copyright © 2014. Todos los Derechos Reservados. Transportes EDVI EIRL.</div>
        </div>
    