@model Edvi.Models.Model.GuiaRemision

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class=" container-fluid">
        <div class="row">
            <div class="col-sm-12">
                @*BANNER*@
                <br />
                <section style="background-color: goldenrod">
                    <div class="panel-heading">
                        <hgroup>
                            <h1>Registrar Guia de Remision </h1>
                        </hgroup>
                        <hr />
                        <p>
                            * A continuacion llene los campos mostrados
                        </p>
                    </div>
                </section>
                <br />

                @*FORMULARIO*@
                <form action="@Url.Action("Create", "GuiaRemision")" method="POST" class="form-horizontal">
                    <div class="btn panel-primary col-sm-12 " style="background-color: darkkhaki">
                        <table class="table table-bordered " style="color: black; ">
                            <tr>
                                <td><label for="Nro" class="col-sm-2 glyphicon glyphicon-edit"> Nº Guia</label></td>
                                <td>
                                    @Html.TextBox("Nro", "", new { @class = "form-control" })
                                </td>

                                <td><label for="PesoTotal" class="col-sm-2 glyphicon glyphicon-edit"> Peso Total</label></td>
                                <td>
                                    @Html.TextBox("PesoTotal", "", new { @class = "form-control" })
                                </td>
                            </tr>

                            <tr>
                                <td><label for="Estado" class="col-sm-2 glyphicon glyphicon-tag"> Estado</label></td>
                                <td>
                                    @Html.TextBox("Estado", "", new { @class = "form-control" })
                                </td>
                            </tr>
                        </table>

                        <button type="submit" class="btn btn-danger  pull-right">Cancelar</button>
                        <button type="submit" class="btn btn-success pull-right">Guardar</button>
                        
                    </div>
                </form>

            </div>
        </div>
    </div>
    
}


<div>
    @*@Html.ActionLink("Back", "Index")*@
</div>

<div class="editor-field">
    @*@Html.EditorFor(model => model.Nro)
    @Html.ValidationMessageFor(model => model.Nro)*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
