@*html lang="es"*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Trasportes EDVI</title>
    <link href="~/Images/Icono.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }

        .aligntobottom {
            bottom: 0;
            position: absolute;
        }
    </style>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

</head>
    <body>
        @*NAVEGADOR*@
        <div class="navbar navbar-inverse navbar-fixed-top " role="navigation">
            <div class="navbar navbar-inverse ">
                <div class="container ">
                    <div class="navbar-header " align="left">
                        <a class="navbar-brand text-left"><b>EDVI SOFT</b></a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav text-right">
                            <li class="active"><a href=@Url.Content("/Inicio/Index")>Inicio</a></li>
                            <li><a href=@Url.Content("/Inicio/Acerca")>Acerca</a></li>
                            @*Administracion*@
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administracion<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Contrato</a></li>
                                    <li class="divider"></li>
                                </ul>
                            </li>

                            @*Logistica*@
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logistica<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href=@Url.Content("/Ruta/IndexRuta")>Ruta</a></li>
                                    <li class="divider"></li>
                                </ul>
                            </li>

                            @*Recursos Empresariales*@
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recursos Empresariales<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href=@Url.Content("/Cliente/IndexCliente")>Cliente</a></li>
                                    <li class="divider"></li>
                                    <li><a href=@Url.Content("/Vehiculo/IndexVehiculo")>Vehiculo</a></li>
                                    <li class="divider"></li>
                                    <li><a href=@Url.Content("/GuiaRemision/IndexGuiaRemision")>Guia Remision</a></li>
                                </ul>
                            </li>

                            <li><a href=@Url.Content("/Inicio/Contacto")>Contacto</a></li>

                        </ul>
                        @*@Html.Partial("_LoginPartial")*@
                    </div>
                </div>
            </div>
        </div>


        <div class="container col-sm-12" >

            @if (IsSectionDefined("featured"))
            {
                <div class="jumbotron">
                    @RenderSection("featured", required: false)
                </div>
            }
            
            @RenderBody()
        </div>
        @Scripts.Render("~/bundles/jquery")
        <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
        @RenderSection("scripts", required: false)
    

    </body>
</html>

