@model Edvi.Models.Model.Vehiculo

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class=" container-fluid">
        <div class="row">
            <div class="col-sm-12">
                @*BANNER*@
                <br />
                <section style="background-color: goldenrod">
                    <div class="panel-heading">
                        <hgroup>
                            <h1>Registrar Vehiculo </h1>
                        </hgroup>
                        <hr />
                        <p>
                            * A continuacion llene los campos mostrados
                        </p>
                    </div>
                </section>
                <br />

                @*FORMULARIO*@
                <form action="@Url.Action("Create", "Vehiculo")" method="POST" class="form-horizontal">
                    <div class="btn panel-primary col-sm-12 " style="background-color: darkkhaki">
                        <table class="table table-bordered " style="color: black;">
                            <tr>
                                <td><label for="PlacaVehiculo" class="col-sm-2 glyphicon glyphicon-edit"> Placa Vehiculo</label></td>
                                <td>
                                    @Html.TextBox("PlacaVehiculo", "", new { @class = "form-control" })
                                </td>

                                <td><label for="PlacaCarreta" class="col-sm-2 glyphicon glyphicon-edit"> Placa Carreta</label></td>
                                <td>
                                    @Html.TextBox("PlacaCarreta", "", new { @class = "form-control" })
                                </td>
                            </tr>

                            <tr>
                                <td><label for="Marca" class="col-sm-2 glyphicon glyphicon-tag"> Marca</label></td>
                                <td>
                                    @Html.TextBox("Marca", "", new { @class = "form-control" })
                                </td>
                                <td><label for="Modelo" class="col-sm-2 glyphicon glyphicon-tag"> Modelo</label></td>
                                <td>
                                    @Html.TextBox("Modelo", "", new { @class = "form-control" })
                                </td>
                            </tr>

                            <tr>
                                <td><label for="CertInscripcion" class="col-sm-2 glyphicon glyphicon-pencil"> Certificado Inscripcion</label></td>
                                <td>
                                    @Html.TextBox("CertInscripcion", "", new { @class = "form-control" })
                                </td>
                                <td><label for="ConfVehicular" class="col-sm-2 glyphicon glyphicon-pencil"> Configuracion Vehicular</label></td>
                                <td>
                                    @Html.TextBox("ConfVehicular", "", new { @class = "form-control" })
                                </td>
                            </tr>

                            <tr>
                                <td><label for="FecVenSoat" class="col-sm-2 glyphicon glyphicon-calendar"> Fecha Vencimiento Soat</label></td>
                                <td>
                                    @Html.TextBox("FecVenSoat", "", new { @class = "form-control" })
                                </td>
                                <td><label for="FecUltRevTecnica" class="col-sm-2 glyphicon glyphicon-calendar"> Fecha Ultima Revision</label></td>
                                <td>
                                    @Html.TextBox("FecUltRevTecnica", "", new { @class = "form-control" })
                                </td>
                            </tr>
                            
                            <tr>
                                <td><label for="CargaBruta" class="col-sm-2 glyphicon glyphicon-edit"> Carga Bruta</label></td>
                                <td>
                                    @Html.TextBox("CargaBruta", "", new { @class = "form-control" })
                                </td>
                                <td><label for="Estado" class="col-sm-2 glyphicon glyphicon-tag"> Estado</label></td>
                                <td>
                                    @Html.TextBox("Estado", "", new { @class = "form-control" })
                                </td>
                            </tr>

                        </table>

                        <button type="submit" class="btn btn-danger  pull-right">Cancelar</button>
                        <button type="submit" class="btn btn-success pull-right">Guardar</button>
                        
                    </div>
                </form>

            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
