@model IList<Edvi.Models.Model.Vehiculo>

<div class="row">
    @*BANNER*@
    <br />
    <section style="background-color: goldenrod">
        <div class="panel-heading">
            <hgroup>
                <h1><b>Lista de Vehiculos</b> </h1>
            </hgroup>
            <p class="pull-right btn btn-default ">
            <b><a href="@Url.Action("Create", "Vehiculo")">Crear Vehiculo</a></b>
            </p>
            <hr />
        </div>
    </section>

    @*SLIDE*@
    <div id="mySlider" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#mySlider" data-slide-to="0" class="active"></li>
            <li data-target="#mySlider" data-slide-to="1"></li>
            <li data-target="#mySlider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img alt="First slide" src="~/Images/Vehiculo1.jpg" />
            </div>
            <div class="item">
                <img alt="Second slide" src="~/Images/Vehiculo2.jpg" />
            </div>
            <div class="item">
                <img alt="second slide" src="~/Images/Vehiculo3.jpg" />
            </div>
        </div>
        <a class="left carousel-control" href="#mySlider" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#mySlider" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

    <form method="GET">
        <input type="text" name="buscar" class="form-control col-md-12" placeholder="Buscar título" />
    </form>
    
    @*LISTA*@
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>PlacaVehiculo</th>
                <th>PlacaCarreta</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>CertInscripcion</th>
                <th>ConfVehicular</th>
                <th>FecVenSoat</th>
                <th>FecUltRevTecnica</th>
                <th>CargaBruta</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="btn-warning">@item.PlacaVehiculo</td>
                    <td class="btn-warning">@item.PlacaCarreta</td>
                    <td class="btn-warning">@item.Marca</td>
                    <td class="btn-warning">@item.Modelo</td>
                    <td class="btn-warning">@item.CertInscripcion</td>
                    <td class="btn-warning">@item.ConfVehicular</td>
                    <td class="btn-warning">@item.FecVenSoat</td>
                    <td class="btn-warning">@item.FecUltRevTecnica</td>
                    <td class="btn-warning">@item.CargaBruta</td>
                    <td class="btn-warning">@item.Estado</td>
                    <td class="btn-warning">
                        <a href="@Url.Action("Update", "Vehiculo", new { id = item.Id })">Editar</a> |
                        <a href="@Url.Action("Remove", new { Id = item.Id})">Eliminar</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    
    @*CONTACTOS*@
    <div id="contacto" class="panel-body col-sm-12" style="background-color:peru">
        <div>
            <h6>Oficina Principal</h6>
            <p>
                Av. El Derby No. 055 - Torre 1, Oficina 301, Urb. Lima Polo and Hunt Club - Santiago de Surco, Lima 33 - Perú<br>
                <b>Central:</b> +51 1 706-0400 - <b>Fax:</b> +51 1 706 0420
            </p>
        </div>

    </div>
    <div class="btn panel-default col-sm-12" style="background-color: palegoldenrod">
        <div align="right">Copyright © 2014. Todos los Derechos Reservados. Transportes EDVI EIRL.</div>
    </div>
</div>

