@model Edvi.Models.Model.Ruta

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class=" container-fluid">
        <div class="row">
            <div class="col-sm-12">
                @*BANNER*@
                <br />
                <section style="background-color: goldenrod">
                    <div class="panel-heading">
                        <hgroup>
                            <h1>Registrar Ruta </h1>
                        </hgroup>
                        <hr />
                        <p>
                            * A continuacion llene los campos mostrados
                        </p>
                    </div>
                </section>
                <br/>
            
                @*FORMULARIO*@
                <form action="@Url.Action("Create", "Ruta")" method="POST" class="form-horizontal">
                    <div class="btn panel-primary col-sm-12 "style="background-color: darkkhaki">
                        <table class="table table-bordered "  style="color: black;" >
                            <tr>
                                <td><label for="Origen" class="col-sm-2 glyphicon glyphicon-pencil"> Origen</label></td>
                                <td >
                                    @Html.TextBox("Origen", "", new {@class = "form-control"})
                                </td>

                                <td><label for="Destino" class="col-sm-2 glyphicon glyphicon-pencil"> Destino</label></td>
                                <td >
                                    @Html.TextBox("Destino", "", new {@class = "form-control"})
                                </td>
                            </tr>

                            <tr>
                                <td><label for="Distancia" class="col-sm-2 glyphicon glyphicon-pencil"> Distancia</label></td>
                                <td>
                                    @Html.TextBox("Distancia", "", new {@class = "form-control"})
                                </td>
                                <td><label for="Descripcion" class="col-sm-2 glyphicon glyphicon-comment"> Comentario</label></td>
                                <td>
                                    @Html.TextArea("Descripcion", "", new {@class = "form-control"})
                                </td>
                            </tr>
                        </table>

                        <button type="submit" class="btn btn-danger  pull-right">Cancelar</button>
                        <button type="submit" class="btn btn-success pull-right">Guardar</button>
              

                    </div>
                </form>

            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}